.Form{
    margin-left: 200px!important;
    margin-right: 200px!important;
    margin-top: 60px!important;
}


.inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.content{
    justify-content: center;
    align-items: center;
}



